.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.arrow{
    z-index: 2;
}

.container__text{
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container__img{
    object-fit: contain;
}

.container__text h1, .container__text h2 {
    padding: .4rem 0;
}

button, select, input {
    margin-top: 1rem;
    border: 1px solid rgb(52, 51, 51);
    background: none;
    padding: .6rem;
    border-radius: 15px;
}

select, input{
    margin-left: 1rem;
}

button {
    background: rgb(52, 51, 51);
    color: white;
    cursor: pointer;
    margin-top: 4rem;
}

button:hover{
    background: rgb(254, 179, 39);
}


@media (min-width: 700px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
  }
